@model ElectronicShop.Models.ForgotPasswordViewModel
<h2>Quên mật khẩu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-warning">Lấy lại mật khẩu</button>
}
