@{
    ViewBag.Title = "Liên hệ";
}
<div class="container mt-3">
    <h4>@ViewBag.Title.</h4>
    <h5>@ViewBag.Message</h5>

    <address>
        Của hàng linh kiện điện tử<br />
        Ấp 3 - Mỹ An - Thủ Thừa - Long An<br />
        <abbr title="Phone">Điện thoại:</abbr>
        0944 020 338
    </address>

    <address>
        <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">lethao13111991@gmail.com</a><br />
        <strong>Bán hàng:</strong> <a href="mailto:Marketing@example.com">lethao13111991@gmail</a>
    </address>
</div>